/* .circle-text {
    text-transform: uppercase;
    font-family: sans-serif;
    position: absolute;
    top: 30px;
    text-align: center;
    color: #fff;
    width: 150px;
    margin-left: -110px;
    font-weight: 400;
    left: 68px;
} */

#follow {
    text-transform: capitalize;
    font-family: sans-serif;
    color: rgb(56, 141, 130);
    font-size: 1.4rem;
    padding-top: 1.5rem;
    padding-left: 0.8rem;
}

.circle-icon {
    font-size: 3rem;
    color: #fff;
}



.circle-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 180px;
    margin-top: 180px; */
    width: 6rem;
    height: 6rem;
    /*     background: linear-gradient(330deg, rgb(95 95 95 / 40%) 0%, rgb(103 103 103) 100%); */
    background: aqua;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    /* top: 665px;
    left: 80px; */
    bottom: -182rem;
    right:49.5rem;
    transition: 1s;

}



.circle-one {

    position: absolute;

}

/* 
.circle-two {
    width: 500px;
    height: 500px;
    border: 2px solid #6b6b6b;
    position: absolute;
    border-radius: 50%;
} */

.circle-arround-one-1,
.circle-arround-one-2,
.circle-arround-one-3,
.circle-arround-one-4 {
    cursor: pointer;
    position: absolute;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    top: 4.8rem;
    left: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-arround-one-1 {
    transform: rotate(45deg) translateX(100px) rotate(-45deg);
    -webkit-animation: orbit3 100s linear infinite;
    -moz-animation: orbit3 100s linear infinite;
    -o-animation: orbit3 100s linear infinite;
    animation: orbit2 100s linear infinite;
    transition: 1s;
    background: #1877f2;
}

.circle-arround-one-2 {
    transform: rotate(45deg) translateX(-100px) rotate(-45deg);
    -webkit-animation: orbit3 100s linear infinite;
    -moz-animation: orbit3 100s linear infinite;
    -o-animation: orbit3 100s linear infinite;
    animation: orbit3 100s linear infinite;
    transition: 1s;
    background: #1da1f2;
}

.circle-arround-one-3 {
    transform: rotate(45deg) translateY(100px) rotate(-45deg);
    -webkit-animation: orbit3 100s linear infinite;
    -moz-animation: orbit3 100s linear infinite;
    -o-animation: orbit3 100s linear infinite;
    animation: orbit4 100s linear infinite;
    transition: 1s;
    background: #c32aa3;
}

.circle-arround-one-4 {
    transform: rotate(45deg) translateY(-100px) rotate(-45deg);
    -webkit-animation: orbit3 100s linear infinite;
    -moz-animation: orbit3 100s linear infinite;
    -o-animation: orbit3 100s linear infinite;
    animation: orbit5 100s linear infinite;
    transition: 1s;
    background: #ff0000;
}

.circle-arround-one-1 i:hover,
.circle-arround-one-2 i:hover,
.circle-arround-one-3 i:hover,
.circle-arround-one-4 i:hover {
    -webkit-animation: rotate-center 0.6s ease-in-out both;
    animation: rotate-center 0.6s ease-in-out both;
}

.circle-arround-one-1:hover,
.circle-arround-one-2:hover,
.circle-arround-one-3:hover,
.circle-arround-one-4:hover {
    -webkit-box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.25);
    -moz-box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.25);
    box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.25);
}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes orbit2 {
    from {
        -webkit-transform: rotate(0deg) translateX(80px) rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg) translateX(80px) rotate(-360deg);
    }
}

@-moz-keyframes orbit2 {
    from {
        -moz-transform: rotate(0deg) translateX(80px) rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg) translateX(80px) rotate(-360deg);
    }
}

@-o-keyframes orbit2 {
    from {
        -o-transform: rotate(0deg) translateX(80px) rotate(0deg);
    }

    to {
        -o-transform: rotate(360deg) translateX(80px) rotate(-360deg);
    }
}

@keyframes orbit2 {
    from {
        transform: rotate(0deg) translateX(80px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(80px) rotate(-360deg);
    }
}

@-webkit-keyframes orbit3 {
    from {
        -webkit-transform: rotate(0deg) translateX(-80px) rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg) translateX(-80px) rotate(-360deg);
    }
}

@-moz-keyframes orbit3 {
    from {
        -moz-transform: rotate(0deg) translateX(-80px) rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg) translateX(-80px) rotate(-360deg);
    }
}

@-o-keyframes orbit3 {
    from {
        -o-transform: rotate(0deg) translateX(-80px) rotate(0deg);
    }

    to {
        -o-transform: rotate(360deg) translateX(-80px) rotate(-360deg);
    }
}

@keyframes orbit3 {
    from {
        transform: rotate(0deg) translateX(-80px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(-80px) rotate(-360deg);
    }
}

@-webkit-keyframes orbit4 {
    from {
        -webkit-transform: rotate(0deg) translateY(80px) rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg) translateY(80px) rotate(-360deg);
    }
}

@-moz-keyframes orbit4 {
    from {
        -moz-transform: rotate(0deg) translateY(80px) rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg) translateY(80px) rotate(-360deg);
    }
}

@-o-keyframes orbit4 {
    from {
        -o-transform: rotate(0deg) translateY(80px) rotate(0deg);
    }

    to {
        -o-transform: rotate(360deg) translateY(80px) rotate(-360deg);
    }
}

@keyframes orbit4 {
    from {
        transform: rotate(0deg) translateY(80px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateY(80px) rotate(-360deg);
    }
}

@-webkit-keyframes orbit5 {
    from {
        -webkit-transform: rotate(0deg) translateY(-80px) rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg) translateY(-80px) rotate(-360deg);
    }
}

@-moz-keyframes orbit5 {
    from {
        -moz-transform: rotate(0deg) translateY(-80px) rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg) translateY(-80px) rotate(-360deg);
    }
}

@-o-keyframes orbit5 {
    from {
        -o-transform: rotate(0deg) translateY(-80px) rotate(0deg);
    }

    to {
        -o-transform: rotate(360deg) translateY(-80px) rotate(-360deg);
    }
}

@keyframes orbit5 {
    from {
        transform: rotate(0deg) translateY(-80px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateY(-80px) rotate(-360deg);
    }
}

.stopanima {
    animation-play-state: paused !important;
}